<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Spath_Family.TimeSheet1">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/time_sheet_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/time_sheet_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.Spath_Family.TimeSheet1"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.Spath_Family.TimeSheet1.Edit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.Employee"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.CreateCompany"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.CreateChoice"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.EmployeeWeek"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.Profile"
            android:screenOrientation="portrait" />
        <activity android:name="com.Spath_Family.TimeSheet1.FrontScreenManager" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.CreateEmployee"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.PasswordRetrieval"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.FrontScreenEmployee"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.Spath_Family.TimeSheet1.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>