<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Spath_Family.TimeSheet1">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/time_sheet_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/time_sheet_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Create"></activity>
        <activity
            android:name=".Edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Employee"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateCompany"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateChoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".EmployeeWeek" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity android:name=".FrontScreenManager" />
        <activity
            android:name=".CreateEmployee"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PasswordRetrieval"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrontScreenEmployee"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.Spath_Family.TimeSheet1"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>